<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konfigurator</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
            color: #333;
        }

        .container {
            display: flex;
            max-width: 1200px;
            margin: 40px auto;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .car-image {
            flex: 1.5;
            overflow: hidden;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .car-image img {
            width: 100%;
            height: auto;
            border-radius: 15px 0 0 15px;
        }

        .car-details {
            flex: 2;
            padding: 40px;
            display: flex;
            flex-direction: column;
        }

        .car-details h2 {
            margin-top: 0;
            font-size: 2.5em;
            font-weight: 700;
        }

        .stepper-container {
            flex-grow: 1;
            margin-top: 20px;
        }

        .step {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 30px;
            padding-left: 30px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            position: relative;
        }

        .step::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 5px;
            background-color: #ccc;
        }

        .step.active::before {
            background-color: #333;
        }

        .step:hover {
            background-color: #f9f9f9;
        }

        .step.active {
            background-color: #f3f3f3;
        }

        .step-header {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .step-indicator,
        .step-description {
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .step-indicator {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #333;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 1.5em;
        }

        .step-description {
            font-size: 22px;
            font-weight: bold;
        }

        .step-content {
            display: none;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .step.active .step-content {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .option-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            transition: transform 0.3s ease;
            flex: 1 0 21%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 10px;
            background-color: white;
        }

        .option-container:hover {
            transform: translateY(-5px);
        }

        .color-option,
        .wheel-option,
        .rim-option {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 10px;
            border-radius: 10px;
            background-color: white;
            margin-bottom: 10px;
        }

        .color-option:hover,
        .wheel-option:hover,
        .rim-option:hover {
            transform: translateY(-5px);
        }

        .color-box {
            width: 80px;
            height: 50px;
            margin-bottom: 5px;
        }

        .color-border {
            border: solid 2px #e3f0ff
        }

        .wheel-image,
        .rim-image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
        }

        .option-name {
            margin-top: 10px;
            font-size: 16px;
            text-align: center;
        }

        .selected {
            border: 3px solid #333;
            box-sizing: border-box;
        }

        .order-overview {
            background-color: #f9f9f9;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 540px;
            margin-bottom: 10px;
        }

        .order-overview ul {
            list-style-type: none;
            padding: 0;
        }

        .order-overview li {
            font-size: 18px;
            margin-bottom: 10px;
            position: relative;
        }

        .order-button {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            position: absolute;
            right: 40px;
            bottom: 30px;
        }

        .order-button:hover {
            background-color: #555;
        }

        .winter {
            background-image: url('https://www.suncoastparts.com/mm5/graphics/00000002/SKU9Y0WW20SPR.jpg');
        }

        .summer {
            background-image: url('https://shop.porschedowntowntoronto.com/cdn/shop/products/TE18J4ATD0112_low_22-Zoll_Cayenne_Sport_Classic_Sommerkomplettradsatz_huge_2048x.jpg?v=1654616497');
        }

        .sport {
            background-image: url('https://www.suncoastparts.com/mm5/graphics/00000002/SKU9Y0WW20SPR.jpg');
        }

        .budget {
            background-image: url('street_style_rim.png');
        }

        .mid-range {
            background-image: url('luxury-rim.png');
        }

        .premium {
            background-image: url('exclusive-rim.png');
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="car-image">
            <img id="car-image" src="/Traverse/black_panther.jpg" alt="Hyperion Halo">
        </div>
        <div class="car-details">
            <h2>Traverse</h2>
            <p>Eine kurze Beschreibung des Fahrzeugs...</p>
            <div class="stepper-container">
                <% const steps = [
                    { description: 'Farbe', status: 'active', contentId: 'step1' },
                    { description: 'Reifen', status: '', contentId: 'step2' },
                    { description: 'Felgen', status: '', contentId: 'step3' },
                    { description: 'Bestellübersicht', status: '', contentId: 'step4' },
                ]; %>
        
                <% steps.forEach((step, index)=> { %>
                    <div class="step <%= step.status %>">
                        <div class="step-header">
                            <div class="step-indicator">
                                <%= index + 1 %>
                            </div>
                            <div class="step-description">
                                <%= step.description %>
                            </div>
                        </div>
                        <div class="step-content" id="<%= step.contentId %>">
                            <% if(index===0) { %>
                                <div class="color-option">
                                    <div class="color-box"
                                        style="background-image:linear-gradient(90deg, #4b4a4a 19%, #000000 50%);"></div>
                                    <div class="color-name">Black Panther</div>
                                </div>
                                <div class="color-option">
                                    <div class="color-box color-border" style="background-image:linear-gradient(90deg, #e3f0ff 19%, #ffffff 50%);">
                                    </div>
                                    <div class="color-name">Crystal White</div>
                                </div>
                                <div class="color-option">
                                    <div class="color-box" style="background-image:linear-gradient(90deg, #faa95e 19%, #ff7b00 50%);">
                                    </div>
                                    <div class="color-name">Orange Juice</div>
                                </div>
                                <% } %>
                            <% if(index===1) { %>
                                <div class="wheel-option">
                                    <div class="wheel-image winter"></div>
                                    <div class="option-name">Winterräder</div>
                                </div>
                                <div class="wheel-option">
                                    <div class="wheel-image summer"></div>
                                    <div class="option-name">Sommerreifen</div>
                                </div>
                                <div class="wheel-option">
                                    <div class="wheel-image sport"></div>
                                    <div class="option-name">Sportreifen</div>
                                </div>
                                <% } %>
                                <% if(index===2) { %>
                                    <div class="rim-option">
                                        <div class="rim-image budget"></div>
                                        <div class="option-name">Street Style</div>
                                    </div>
                                    <div class="rim-option">
                                        <div class="rim-image mid-range"></div>
                                        <div class="option-name">Urban Chic</div>
                                    </div>
                                    <div class="rim-option">
                                        <div class="rim-image premium"></div>
                                        <div class="option-name">Luxury Elite</div>
                                    </div>
                                <% } %>
                                <% if(index === 3) { %>
                                    <div class="order-overview">
                                        <ul>
                                            <li><strong>Fahrzeug:</strong> Traverse</li>
                                            <li><strong>Farbe:</strong> <span id="selectedColor">-</span></li>
                                            <li><strong>Reifen:</strong> <span id="selectedTire">-</span></li>
                                            <li><strong>Felgen:</strong> <span id="selectedRim">-</span></li>
                                        </ul>
                                        <button class="order-button" id="orderButton">Jetzt kaufen</button>
                                    </div>
                                <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <%- include('orderPopup.ejs') %>
    <script>
        // Select Step
        document.querySelectorAll('.step').forEach(function(step) {
            step.addEventListener('click', function() {
                // Deaktiviere alle Schritte
                document.querySelectorAll('.step').forEach(function(s) {
                    s.classList.remove('active');
                });

                document.querySelectorAll('.step-content').forEach(function(content) {
                    content.style.display = 'none';
                });

                this.classList.add('active');

                var contentId = this.querySelector('.step-content').id;
                document.getElementById(contentId).style.display = 'flex';
            });
        });
    
        //  Select Color
        var colorOptions = document.querySelectorAll('.color-option');
        colorOptions.forEach(function(option) {
            option.addEventListener("click", function(event) {
                event.stopPropagation();
    
                var allColorBoxes = document.querySelectorAll('.color-option');
                allColorBoxes.forEach(function(box) {
                    box.classList.remove("selected");
                });
    
                this.classList.add("selected");
    
                var colorName = this.querySelector(".color-name").textContent;
                var carImage = document.getElementById("car-image");
    
                if (colorName === "Black Panther") {
                    carImage.src = "/Traverse/black_panther.jpg";
                } else if (colorName === "Crystal White") {
                    carImage.src = "/Traverse/crystal_white.jpg";
                } else if (colorName === "Orange Juice") {
                    carImage.src = "/Traverse/orange_juice.jpg";
                }
    
                var selectedColor = document.getElementById("selectedColor");
                selectedColor.textContent = colorName;
    
            });
        });
    
        // Select Wheel
        var tireOptions = document.querySelectorAll('.wheel-option');
        tireOptions.forEach(function(option) {
            option.addEventListener("click", function(event) {
                event.stopPropagation();
    
                var selectedTire = document.getElementById("selectedTire");
                var tireName = this.parentNode.querySelector('.option-name').textContent;
                selectedTire.textContent = tireName;
    
                var allOptions = this.closest('.step-content').querySelectorAll('.wheel-option');
                allOptions.forEach(function(opt) {
                    opt.classList.remove("selected");
                });
    
                this.classList.add("selected");
    
            });
        });
    
        // Select Rim
        var rimOptions = document.querySelectorAll('.rim-option');
        rimOptions.forEach(function(option) {
            option.addEventListener("click", function(event) {
                event.stopPropagation();

                var selectedRim = document.getElementById("selectedRim");
                var rimName = this.parentNode.querySelector('.option-name').textContent;
                selectedRim.textContent = rimName;
    
                var allOptions = this.closest('.step-content').querySelectorAll('.rim-option');
                allOptions.forEach(function(opt) {
                    opt.classList.remove("selected");
                });

                this.classList.add("selected");
            });
        });

         // Open Order Popup
         document.getElementById('orderButton').addEventListener('click', function() {
            fetch('/orderPopup')
                .then(response => response.text())
                .then(html => {
                    document.body.insertAdjacentHTML('beforeend', html);
                    document.getElementById('orderPopup').style.display = 'block';
                })
                .catch(error => console.error('Error fetching popup:', error));
        });
    </script>
</body>
</html>